nav.dark
  .flex-container
    a.brand(href=domain): img(src="/img/village-coding-logo.svg" width="60")
    ul.navbar-nav
      li: a(href=domain + "/guides") Guides
      li: a(href=domain + "/gallery") Gallery
      li: a(href=domain + "/faq") FAQ
