nav.dark
  .flex-container
    a.brand(href="/"): img(src="/img/village-coding-logo.svg" width="60")
    ul.navbar-nav
      li: a(href="/guides") Guides
      li: a(href="/share") Share
      li: a(href="/faq") FAQ
