#share-modal
  .modal-container
    .close-modal: span X
    .instruction-buttons
      .instruction-btn(data-target="codepen-instructions")
      .instruction-btn(data-target="scratch-instructions")
      .instruction-btn(data-target="thimble-instructions")
      
    .instructions
      #codepen-instructions
        h2 Share a CodePen Project
        ol
          li Signup for an account at #[a(href="https://codepen.io" target="_blank") codepen.io].
        
      #scratch-instructions
        h2 Share a Scratch Project
        ol
          li Make sure to click the "share" button inside your project. Visit the Scratch Wiki to learn how to #[a(href="#" target="_blank") share you project] with the world.
          li Go to the #[a(href="#" target="_blank") Village Day of Code Studio].
          li Click "Add Project" and click on your project to add it to the studio.
          li Check out other people's projects a leave them a friendly comment.
