extends ../layout.pug

block content
  .container.text-center
    h1 Choose your own Adventure
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vT1gVruHa0r2cfHaSMV3MLbiXpl-QmOFlgRUS1Vi_SIv_w3Ji3nn1JBks7y6QEdxLYNyAfPyaw1cO0B/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
block scripts
