extends ../layout.pug

block content
  .container.text-center
    h1 Choose your own Adventure
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vSI6n-W0SKGdmczSSqMqwMM3v4vqAyso4wiSkYFRXp1_wRwC1x8a_XsslBLfRnQSaf-DhxcX7whInv_/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
block scripts
