extends ../layout.pug

block content
  .container.text-center
    h1 Drawing with JavaScript
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vT19yoq99SiTkJLBSzRucDvhrcKyd-nrXAd70bJtubOhXjdLF5X8m3X-3b4Q_Qo8bdPk4k8fbquuyP8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
block scripts
