extends ../layout.pug

block content
  .container.text-center
    h1 Drawing with JavaScript
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vRmsImvfuBiN2D1olzC-mqgEW1S3B8cIvF6hcAsvIC2LI0U2D-KX4Jswv1B7XntBMMXE3MybcrG2wA2/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
block scripts
