extends ../layout.pug

block content
  .container.text-center
    h1 Scratch Game Design
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vRokZsQAvzz7waBMAO7GfWi_GNGOoLc4ENhZuAiUbeNYHc1eOC6t01ttPkZK2NwXd3dT41zjvGHTzeg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
block scripts
