extends ../layout.pug

block content
  .container.text-center
    h1 Two for the Crew Challenge
    iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vTkPfQIih50u-AEjra-FDDZFA5ck_uBiAk1FciHk-dnxVU3MO6PY0QhT6zlom8hpEyhJRTKNIOOBa4l/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
    
block scripts
