extends layout.pug

block content
  .container.text-center
    h1 Coordinate Locator
    #canvas-center
    
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/addons/p5.dom.min.js")
  script(src="/js/sketches/coordinate-locator.js")
