//- index.pug
extends layout.pug

block content
  #canvas
  .container
    h1 Day of Code
    p#solid(style="max-width: 640px;") On November 29, Village Middle School will be celebrating the world of computer programming with our annual Day of Code. We will be writing code and sharing it here, so stay tuned.
    
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/addons/p5.dom.min.js')
  script(src='/js/bundle.js')
  script(src='/js/sketches/home-sketch.js')
