//- scratch.pug
extends layout.pug

block content
  .container
    #share-modal-btn Share your code!
  include inc/share-modal.pug
block scripts
  script(src='/js/bundle.js')
  script(src='/js/share.js')
