.btn {
  padding: 12px 24px;
  margin: $white-space;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 0.3s, background-color 0.3s;
  transition-timing-function: ease-in-out;
  border: none;
  &:hover {
      cursor: pointer;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  }
}

#faq-modal-btn,
#share-modal-btn {
  @extend .btn;
  position: absolute;
  right: 0;
  top: 8px;
}

#faq-modal-btn {
  background: $blue;
  color: lighten($blue, 40%);
  &:hover {
    background: darken($blue, 5%);
  }
}
#share-modal-btn {
  background: $green;
  color: lighten($green, 40%);
  &:hover {
    background: darken($green, 5%);
  }
}


#load-more-scratch-projects {
  @extend .btn;
  background: tomato;
  color: lighten(tomato, 40%);
  &:hover {
    background: darken(tomato, 5%);
  }
}

#faq-ask-btn {
  @extend .btn;
  background: $blue;
  color: lighten($blue, 40%);
  &:hover {
    background: darken($blue, 5%);
  }
}
.red-btn,
.more-btn {
  @extend .btn;
  background: crimson;
  color: white;
  &:hover {
    background: darken(crimson, 5%);
  }
}
.white-btn {
  @extend .btn;
  background: white;
  color: $dark-color;
  &:hover {
    background: #DDD;
  }
}

.scratch-studio-btn {
  @extend .btn;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.3s;
  &:hover {
    border: 1px solid #999;
  }
}

.image-gallery-button {
  @extend .btn;
  color: $scratch-blue;
  animation-name: pulse-green;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  &:hover {
    background: #68e268;
    color: $dark-color;
    animation: none;
  }
}

@keyframes pulse-green {
  0% {
    background-color: rgba(255,99,71, 0);
    box-shadow: none;
    color: $scratch-blue;
  }
  40% {
    background-color: rgba(255,99,71, 0);
    box-shadow: none;
    color: $scratch-blue;
  }
  70% {
    background-color: rgba(255,99,71, 1);
    box-shadow: 0 2px 17px black;
    color: white;
  }
  100% {
    background-color: rgba(255,99,71, 0);
    box-shadow: none;
    color: $scratch-blue;
  }
}
