.scratch-section,
.text-section,
.nasa-3d-section,
.picture-section {
  min-height: 300px;

  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-section {
  background: linear-gradient(160deg,#166f41,#4bc771);
  color: white;
  .project {
    background: transparent;
  }
  a {
    color: white;
    &:hover {
      color: $dark-color;
    }
  }
}

.scratch-section {
  background: rgba(255, 255, 255, 0.6);
  padding: 0 0 $white-space * 2;
  h2 {
    background: $scratch-blue;
    color: white;
    padding: 16px;
    margin: 0;
  }
}


.nasa-3d-section {
  background: linear-gradient(135deg, #ff3232 3%,#eeff32 23%,#28ff50 45%,#2365ff 73%,#cb23ff 100%);
  h2 > * {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.picture-section {
  background: rgba(255, 255, 255, 0.6);
  padding: 0 0 $white-space * 2;
  h2 {
    background: tomato;
    color: white;
    padding: 16px;
    margin: 0;
  }
}


.projects {
  display: inline-block;
  min-width: 500px;
  text-align: left;
  border: $light-border;
}

.project {
  padding: 12px;
  color: $dark-color;
  display: block;
  text-decoration: none;
  transition: color 0.3s;
  transition: box-shadow 0.5s;
  transition: background-color 0.3s;
  border-bottom: $light-border;
  background: rgba(255, 255, 255, 0.3);
  &:hover {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px #000;
    border-bottom: 2px solid transparent;
  }
  &:last-child {
    border-bottom: none;
  }
}
.project-title,
.project-author {
  display: inline;
}
.project-author {
  margin-left: 1em;
}



/* Old

#scratch-gallery {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 500px;
  overflow-y: scroll;
  border: 2px solid $scratch-blue;
  padding: 0px;
  & > li {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    text-align: center;
    border: 2px solid $scratch-blue;
    padding: 20px;
    transition: background-color 0.5s;
    &:hover {
      background: transparentize($scratch-blue, 0.5);
    }
  }
}
*/
