$transition-timing: 1s;

#share-modal {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: scroll;
}




.modal-container {
  margin: 80px 40px 40px;
  padding: 30px;
  background: white;
  display: flex;
  flex-flow: column;
}

.close-modal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: $dark-color;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px tomato;
  }
}

.instruction-buttons {
  display: flex;
  justify-content: center;
}


.instruction-btn {
  width: 300px;
  height: 200px;
  background: skyblue;
  margin: 20px;
  border: 4px solid $blue;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  transition: $transition-timing ease-in-out;

  .small > & {
    width: 120px;
    height: 60px;
  }
  &[data-target=codepen-instructions] {
    background-image: url('/img/codepen-logo.png');
    background-color: black;
  }
  &[data-target=scratch-instructions] {
    background-image: url('/img/scratch-logo.png');
    background-color: #25aff4;
  }
  &[data-target=thimble-instructions] {
    background-image: url('/img/thimble-logo.svg');
    background-color: #4bc771;
  }
}


.instructions {
  text-align: left;
}

#codepen-instructions,
#scratch-instructions,
#thimble-instructions {
  max-width: 500px;
  margin: 0;
  overflow-y: hidden;
	max-height: 0px; /* approximate max height */


  h2 {
    text-align: center;
  }
  li {
    margin-bottom: 20px;
  }
  &.show {
    max-height: 500px;
    transition: $transition-timing ease-in-out;
    margin-left: auto;
    margin-right: auto;
  }
}
