#share-modal {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.modal-container {
  margin: 80px 40px 40px;
  padding: 30px;
  background: white;
  display: inline-block;
}
