.share-container {
  padding-top: 120px;
  h2 {
    text-align: center;
  }
}

#scratch-gallery {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 500px;
  overflow-y: auto;
  border: 3px solid $scratch-blue;
  padding: 20px;
  & > li {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px;
  }
}
